pedal-creation {

  text-align: right;

  >div {
    position: absolute;
    right: 20px;
    top: 75px;
    z-index: 1;
    color:white;

    span {

      font-size: 1.7em;

      &:hover {
        color: #00b3ee;
      }
    }

  }

}