<div class="container-fluid main-web-audio">

    <!-- TODO  duplication de code au niveau du selecteur file/mic -->

    <!-- FOR FILEMODE -->
    <div class="row">

        <!-- Common part of the directive for all input modes -->
        <div class="web-audio-elem inputs-web-audio col-lg-1">
            <!-- Input type selector -->

            <div class="row quartHeight fullwidthoparent nomargin">
                INPUT

                </div>

            <div class="row threequartsheight fullwidthoparent nomargin">

                <div class="row thirdheight fullwidthoparent nomargin">
                    <a ng-click="$ctrl.webaudio.changeInputMode('fileMode')" class="btn btn-primary webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent thirdheight nopaddingvertical nopadding">
                        <i class="fa fa-file-audio-o"></i></a>
                </div>
                <div class="row thirdheight fullwidthoparent nomargin">
                    <a  ng-click="$ctrl.webaudio.changeInputMode('micMode')" class="btn btn-primary webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent thirdheight nopaddingvertical nopadding">
                        <i class="fa fa-microphone"></i></a>

                </div>
            </div>


        </div>

        <!-- TODO ca serait cool d'isoler chaque inputMode une grosse div, mais ca degomme tout l'affichage. -->
        <!-- FILEMODE STUFF -->

        <div ng-if="$ctrl.webaudio.inputMode == 'fileMode'" class="web-audio-elem inputs-web-audio  col-lg-3">




            <!-- Extremite: need un nomargin -->
            <div class="row quartheight fullwidthoparent nomargin">

                <!-- Controle de l'input -->
                <!-- c'est ici qu'on gere le son d'entree, whatever happens. c'est totalement separe des filtres, pedales, et autres -->
                <!-- TODO : est sur la classe bouton mais c'est pas vraiment un bouton -->
                <input class="webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent" type="file"
                       file-model="soundFile"/>

            </div>


            <div class="row quartheight fullwidthoparent nomargin">
                <div class="col-lg-4 nopadding">
                    <button id="load"
                            class="btn btn-sm webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent threequartsheight"
                            ng-click="$ctrl.webaudio.loadsound(soundFile.name)">loadSound
                    </button>

                </div>
                <div class="col-lg-8 nopadding">

                    <!-- Input Visualisation : waveform -->
                    <canvas waveform-visualiser buffer="$ctrl.webaudio.soundBuffer"
                            class="canvas-basic fullwidthoparent threequartsheight"></canvas>
                </div>


            </div>

        </div>

        <div ng-if="$ctrl.webaudio.inputMode == 'fileMode'" class="web-audio-elem status-web-audio  col-lg-1">
            <div ng-if="$ctrl.webaudio.isInitialized" class="statusbox valid-box thirdheight">Init</div>
            <div ng-if="$ctrl.webaudio.isGraphReady" class="statusbox valid-box thirdheight">Graph</div>
            <div ng-if="$ctrl.webaudio.isPlaying" class="statusbox valid-box thirdheight">Playing</div>

            <div ng-if="!$ctrl.webaudio.isInitialized" class="statusbox invalid-box thirdheight">Init</div>
            <div ng-if="!$ctrl.webaudio.isGraphReady" class="statusbox invalid-box thirdheight">Graph</div>
            <div ng-if="!$ctrl.webaudio.isPlaying" class="statusbox invalid-box thirdheight">Playing</div>
        </div>

        <div ng-if="$ctrl.webaudio.inputMode == 'fileMode'" class="web-audio-elem controls-web-audio col-lg-3">


            <!-- some space idk what for yet -->
            <div class="row halfheight fullwidthoparent nomargin ">



                <!-- some empty space to use someday -->


                <div class="col-lg-6 nopadding webaudio-text">
                    <div class="fullwidthoparent">
                        startPlayTime:{{$ctrl.webaudio.startPlayTime}}
                        playerTime:{{$ctrl.webaudio.playerTime}}
                    </div>

                </div>

                <div class="col-lg-6  nopadding webaudio-timer">


                    <div ng-if="$ctrl.webaudio.startPlayTime > 0" class="fullwidthoparent halfheight">
                        {{$ctrl.webaudio.now - $ctrl.webaudio.startPlayTime | date: 'mm:ss'}}
                    </div>
                    <div ng-if="$ctrl.webaudio.startPlayTime <= 0" class="fullwidthoparent halfheight">
                        00:00
                    </div>
                </div>



            </div>


            <div class="row halfheight nomargin">

                <div class="col-lg-6 nopadding">
                    <button id="cleangraph"
                            class="btn btn-default webaudio-control-btn  webaudio-control-btn-secondary quartheight smalltext nopadding fullwidthoparent"
                            ng-click="$ctrl.webaudio.cleanGraph();">Clean Audio Graph
                    </button>

                    <button id="loaddefaultgraph"
                            class="btn btn-default webaudio-control-btn webaudio-control-btn-secondary quartheight smalltext nopadding fullwidthoparent"
                            ng-click="$ctrl.webaudio.loadDefaultGraph();">Load Default Audio graph
                    </button>
                </div>

                <!-- TODO : j'ai essaye de centrer les boutons et de les faire remplir toute la largeur, mais j'y arirve pas euh -->
                <!-- Player buttons -->
                <div class="col-lg-6 nopadding">

                    <div class="row nomargin">
                        <div class="col-lg-4 nopadding">


                            <button type="button" id="button_play"
                                    class="webaudio-control-btn btn webaudio-control-btn-primary nopadding fullwidthoparent halfheight"
                                    ng-click='$ctrl.webaudio.playSound();'>
                                <i class="fa fa-play"></i>
                            </button>


                        </div>

                        <div class="col-lg-4 nopadding">
                            <!-- TODO: un vrai bouton play/pause, ou ne seraitce que un pause. -->
                            <button type="button" id="button_pause"
                                    class="webaudio-control-btn btn webaudio-control-btn-primary nopadding fullwidthoparent halfheight"
                                    ng-click='$ctrl.webaudio.pauseSound();'>
                                <i class="fa fa-pause"></i>
                            </button>
                        </div>

                        <div class="col-lg-4 nopadding">
                            <button type="button" id="button_stop"
                                    class="webaudio-control-btn btn webaudio-control-btn-primary nopadding fullwidthoparent halfheight"
                                    ng-click='$ctrl.webaudio.stopSound();'>
                                <i class="fa fa-stop"></i>
                            </button>

                        </div>
                    </div>
                </div>


            </div>


        </div>

        <div ng-if="$ctrl.webaudio.inputMode == 'fileMode'" class="web-audio-elem outputs-web-audio  col-lg-4">
            <div class="row nomargin">
                <!-- Extremite: need un nomargin -->
                <div class="col-lg-4 nopadding">
                    <!--By default : speakers-->
                    <canvas signal-visualiser analyser-node="$ctrl.webaudio.analyser"

                            class="canvas-basic fullheight fullwidthoparent nopadding"></canvas>

                </div>
                <div class="col-lg-7 nopadding">

                    <div class="row quartheight nomargin">
                        <canvas volume-visualiser orientation="'horizontal'" analyser-node="$ctrl.webaudio.analyser"
                                class="canvas-basic quartheight fullwidthoparent"></canvas>
                    </div>

                    <div class="row quartheight nomargin">
                        <canvas volume-visualiser orientation="'horizontal'" analyser-node="$ctrl.webaudio.analyser"
                                class="canvas-basic quartheight fullwidthoparent"></canvas>
                    </div>

                    <div class="row halfheight nomargin">
                        <canvas egaliser-visualizer analyser-node="$ctrl.webaudio.analyser"

                                class="canvas-basic halfheight fullwidthoparent"></canvas>

                    </div>


                </div>

                <div class="col-lg-1 nopadding">

                    <canvas volume-visualiser orientation="'vertical'" analyser-node="$ctrl.webaudio.analyser"
                            class="canvas-basic fullheight fullwidthoparent"></canvas>

                </div>
            </div>


        </div>

        <!-- MICROPHONEMODE STUFF -->

        <div ng-if="$ctrl.webaudio.inputMode == 'micMode'" class="web-audio-elem inputs-web-audio  col-lg-3 ">



            <!-- Extremite: need un nomargin -->
            <div class="row fullwidthoparent nomargin">

                <div class="col-lg-3 nopadding">
                    <button
                            class="btn btn-sm webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent halfheight"
                            ng-click="$ctrl.webaudio.loadMic()">LoadMic
                    </button>

                </div>
                <div class="col-lg-3 nopadding">
                    <button
                            class="btn btn-sm webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent halfheight"
                            ng-click="$ctrl.webaudio.startMic()"> <i class="fa fa-play"></i>
                    </button>
                </div>
                <div class="col-lg-3 nopadding">
                    <button
                            class="btn btn-sm webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent halfheight"
                            ng-click="$ctrl.webaudio.pauseMic()"> <i class="fa fa-pause"></i>
                    </button>
                </div>
                <div class="col-lg-3 nopadding">
                    <button
                            class="btn btn-sm webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent halfheight"
                            ng-click="$ctrl.webaudio.stopMic()"> <i class="fa fa-stop"></i>
                    </button>
                </div>

            </div>


        </div>

        <div ng-if="$ctrl.webaudio.inputMode == 'micMode'" class="web-audio-elem status-web-audio  col-lg-1">
            <div ng-if="$ctrl.webaudio.isInitialized" class="statusbox valid-box thirdheight">MIC</div>
            <div ng-if="$ctrl.webaudio.isGraphReady" class="statusbox valid-box thirdheight">GRAPH</div>
            <div ng-if="$ctrl.webaudio.isPlaying" class="statusbox valid-box thirdheight">ON-AIR</div>

            <div ng-if="!$ctrl.webaudio.isInitialized" class="statusbox invalid-box thirdheight">MIC</div>
            <div ng-if="!$ctrl.webaudio.isGraphReady" class="statusbox invalid-box thirdheight">GRAPH</div>
            <div ng-if="!$ctrl.webaudio.isPlaying" class="statusbox invalid-box thirdheight">ON-AIR</div>
        </div>

        <div ng-if="$ctrl.webaudio.inputMode == 'micMode'" class="web-audio-elem controls-web-audio col-lg-5">

            <!--By default : speakers-->
            <canvas signal-visualiser analyser-node="$ctrl.webaudio.analyser"

                    class="canvas-basic fullheight fullwidthoparent nopadding"></canvas>


        </div>

        <div ng-if="$ctrl.webaudio.inputMode == 'micMode'" class="web-audio-elem outputs-web-audio  col-lg-2">
            <div class="row nomargin">

                <div class="col-lg-11 nopadding">

                    <div class="row quartheight nomargin">
                        <canvas volume-visualiser orientation="'horizontal'" analyser-node="$ctrl.webaudio.analyser"
                                class="canvas-basic quartheight fullwidthoparent"></canvas>
                    </div>

                    <div class="row quartheight nomargin">
                        <canvas volume-visualiser orientation="'horizontal'" analyser-node="$ctrl.webaudio.analyser"
                                class="canvas-basic quartheight fullwidthoparent"></canvas>
                    </div>

                    <div class="row halfheight nomargin">
                        <canvas egaliser-visualizer analyser-node="$ctrl.webaudio.analyser"

                                class="canvas-basic halfheight fullwidthoparent"></canvas>

                    </div>


                </div>

                <div class="col-lg-1 nopadding">

                    <canvas volume-visualiser orientation="'vertical'" analyser-node="$ctrl.webaudio.analyser"
                            class="canvas-basic fullheight fullwidthoparent"></canvas>

                </div>
            </div>


        </div>
    </div>


    </div>



</div>