<div class="about ">
    <article class="aboutContent container">
       <!-- <img src="images/publicbackground.png">-->

        <div class="container realAboutContent">
            <div class="titleArticle"> About</div>

            <div class="contentArticle container">
                <div class="rowArticle">
                    <div class="contentArticleTitle specialTitle col-lg-3 ">
                    </div>
                    <div class="contentArticleContent col-lg-9">
                    </div>
                </div>
                <div class="row rowArticle">
                    <div class="contentArticleTitle col-lg-3 ">
                        Who are we ?
                    </div>
                    <div class="contentArticleContent col-lg-9">
                        We are four students from an engineer school in France called Polytech Nice-Sophia.
                    </div>
                </div>
                <div class="row rowArticle">
                    <div class="contentArticleTitle col-lg-3 ">
                        What is FX Machine project ?
                    </div>
                    <div class="contentArticleContent col-lg-9">
                        We have developed a web site for guitarists who would like to have their own effect pedals on
                        their computers.
                    </div>
                </div>

                <div class="row rowArticle">
                    <div class="contentArticleTitle col-lg-3 ">
                        Tired to buy or test a lot of pedal because you can't find the perfect sound?
                    </div>
                    <div class="contentArticleContent col-lg-9">
                        Don't worry, FX Machine is the solution made for you! Thanks to our system, you will be able to
                        create
                        your own pedal by selecting every components of your pedal.
                    </div>
                </div>
                <div class="row rowArticle">
                    <div class="contentArticleTitle col-lg-3 ">
                        Wait we made more functionalities!
                    </div>
                    <div class="contentArticleContent col-lg-9">
                        Once you have built your pedal with all effects you need, you can save it and share it to your
                        friends.
                        In fact, when you save, your pedal is public and people can use it.
                    </div>
                </div>
                <div class="rowArticle">
                    <div class="contentArticleTitle specialTitle col-lg-3 ">
                    </div>
                    <div class="contentArticleContent col-lg-9">
                    </div>
                </div>
            </div>
        </div>
    </article>
</div>