<div>


    <div class="valueContentWaveshaper">Type : {{$ctrl.filter.type}}</div>

    <!-- atan parameters -->
    <div ng-show="$ctrl.distotype == 'atan'">

        <!-- Oversampling control -->
        Oversampling : {{$ctrl.filter.audioNode.oversample}}
        <br>
        <input type="radio" name="waveShaperSampling" value="none" ng-model="$ctrl.filter.audioNode.oversample" checked>None
        <input type="radio" name="waveShaperSampling" value="2x" ng-model="$ctrl.filter.audioNode.oversample">2x
        <input type="radio" name="waveShaperSampling" value="4x" ng-model="$ctrl.filter.audioNode.oversample">4x
        <br>

        <!-- Disto curve model control -->
        Disto Curve Model : {{$ctrl.distotype}}
        <form>
            <select name="selectType" ng-model="$ctrl.distotype">
                <option value="atan">Atan</option>
                <option value="chebyshev">Chebyshev</option>
            </select>
        </form>

        <!-- TODO look for distorsion maximum value. -->
        <!-- CAREFUL : this is linked to the controller. -->
        <input id="disto1" type="range" min="1" max="100" value="1" step="1" ng-model="$ctrl.amount">
        {{$ctrl.amount}}%
        <canvas id="distovisualisation2" height="80" width="160" class="canvas-basic"></canvas>

    </div>

    <!-- chebyshev parameters -->
    <div ng-show="$ctrl.distotype == 'chebyshev'">
        <br>

        <div class="container-fluid">
            <div class="row">
                <div class="radioContent col-lg-5">
                    Oversampling  <!--:{{filter.audioNode.oversample}} --><br>
                    <input type="radio" name="waveShaperSampling" value="none" ng-model="$ctrl.filter.audioNode.oversample"
                           checked>

                    <label>None</label>
                    <input type="radio" name="waveShaperSampling" value="2x" ng-model="$ctrl.filter.audioNode.oversample">
                    <label>2x</label>
                    <input type="radio" name="waveShaperSampling" value="4x" ng-model="$ctrl.filter.audioNode.oversample">
                    <label>4x</label>
                    <br>
                </div>
                <div class="col-lg-1"></div>
                <div class="selectContent col-lg-5">
                    Disto Curve Model  <!--:{{distotype}}-->
                    <form>
                        <select name="selectType" ng-model="$ctrl.distotype">
                            <option value="atan">Atan</option>
                            <option value="chebyshev">Chebyshev</option>
                        </select>
                    </form>
                </div>
            </div>

            <br>

            <div class="row">
                <div class="fondamentalElement col-lg-5">
                    Fondamental Frequency<br>

                    <div class="waveShaperRangeFF">
                        <input id="fondfreq" type="range" min="1" max="50" value="5" step="1" ng-model="$ctrl.fondfreq">
                    </div>
                    {{$ctrl.fondfreq}}Hz
                </div>
                <div class="col-lg-1"></div>
                <div class="canvasContainer col-lg-5">
                    <canvas id="distovisualisation" height="80" width="160" class="canvas-basic"></canvas>
                </div>
            </div>
        </div>
        <!-- TODO look for distorsion maximum value. -->
        <!-- CAREFUL : this is linked to the controller. -->
        <div class="container">
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input class="nomargin" id="harm0" type="range" min="-1" max="1" value="1" step="0.1"
                           ng-model="$ctrl.harmonics[0]">
                </div>
                <div class="chebyValue">{{$ctrl.harmonics[0]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm1" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[1]">
                </div>
                <div class="chebyValue"> {{$ctrl.harmonics[1]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm2" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[2]">
                </div>
                <div class="chebyValue">{{$ctrl.harmonics[2]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm3" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[3]">
                </div>
                <div class="chebyValue"> {{$ctrl.harmonics[3]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm4" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[4]">
                </div>
                <div class="chebyValue">{{$ctrl.harmonics[4]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm5" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[5]">
                </div>
                <div class="chebyValue">{{$ctrl.harmonics[5]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm6" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[6]">
                </div>
                <div class="chebyValue">{{$ctrl.harmonics[6]}}</div>
            </div>
            <div class="boxWaveShaper">
                <div class="waveShaperRange">
                    <input id="harm7" type="range" min="-1" max="1" value="1" step="0.1" ng-model="$ctrl.harmonics[7]">
                </div>
                <div class="chebyValue">{{$ctrl.harmonics[7]}}</div>
            </div>
        </div>
    </div>
    <br>

</div>