

<hr>
PLAYER CONTROLS
<!-- Machine controllers -->
<input type="file" file-model="soundFile"/>
<button id="load" ng-click="machine.loadSound()">Charger le son</button>
<button id="play" ng-click="machine.playSound();" disabled>Lecture du son</button>
<button id="stop" ng-click="machine.stopSound();" disabled>Stopper le son</button>

<!-- waveform -->
<canvas waveform-visualiser buffer="machine.machine.soundBuffer" width="400" height="100" id="whatever"
        style="border-style: solid; border-width:thin;  border-color:black" ></canvas>
<!-- Filters -->
<hr>
<h3>FILTER BANK</h3>
<button id="addGainFilter" ng-click="machine.addFilter('gain');">Add Gain Filter</button>
<button id="addLowPassFilter" ng-click="machine.addFilter('biquad');">Add BiQuad</button>
<button id="addDebugFilter" ng-click="machine.addFilter('lowl');">Add... something else</button>

<hr>
<h3>Pedal Structure</h3>
<hr width="40%" align="left">


<!-- For AUDIO GAIN filters only -->
<div ng-repeat="filter in machine.filters" style="border-style:solid;border-color:black;border-width:3px">

    <h4>Filtre : {{filter.type}}</h4>


    <button id="removeFilter" ng-click="machine.removeFilter(filter);">Remove Filter</button>

    <!-- Showing the div corresponding to the right filter -->
    <!--- All min max and default values of ranges corresponds to the min/max/default values of the web audio API

    <!-- The GAIN filter -->
    <filter-gain filter="filter" ng-show="filter.type === 'gain'"></filter-gain>

    <!-- The BIQUAD filter -->
    <filter-biquad filter="filter" ng-show="filter.type === 'biquad'"></filter-biquad>

    <!-- debug -->
    <div ng-show="filter.type === 'debug' ">
    </div>



    <!-- Ajout d'un super equalizer -->

    <canvas egaliser-visualizer analyser-node="filter.analyser" width="400" height="100" id="whateverrr"
            style="border-style: solid; border-width:thin;  border-color:black" ></canvas>

    <!-- separator -->
    <hr width="40%" align="left">

</div>

