

<hr>
PLAYER CONTROLS
<!-- Machine controllers -->
<input type="file" file-model="soundFile"/>
<button id="load" ng-click="machine.loadSound()">Charger le son</button>
<button id="play" ng-click="machine.playSound();" disabled>Lecture du son</button>
<button id="stop" ng-click="machine.stopSound();" disabled>Stopper le son</button>

<!-- Filters -->
<hr>
<h3>FILTER BANK</h3>
<button id="addGainFilter" ng-click="machine.addFilter('gain');">Add Gain Filter</button>
<button id="addLowPassFilter" ng-click="machine.addFilter('biquad');">Add BiQuad</button>
<button id="addDebugFilter" ng-click="machine.addFilter('lowl');">Add... something else</button>

<hr>
<h3>THE Filters</h3>
<hr width="40%" align="left">
<!-- For AUDIO GAIN filters only -->
<div ng-repeat="filter in machine.filters">

    <h4>Filtre : {{filter.type}}</h4>

    <button id="removeFilter" ng-click="machine.removeFilter(filter);">Remove Filter</button>

    <!-- Showing the div corresponding to the right filter -->
    <!--- All min max and default values of ranges corresponds to the min/max/default values of the web audio API

    <!-- The GAIN filter -->
    <filter-gain filter="filter" ng-show="filter.type === 'gain'"></filter-gain>

    <!-- The BIQUAD filter -->
    <filter-biquad filter="filter" ng-show="filter.type === 'biquad'"></filter-biquad>

    <!-- debug -->
    <div ng-show="filter.type === 'debug' ">
    </div>

    <!-- separator -->
    <hr width="40%" align="left">
</div>

<div ng-controller="PlumbCtrl">

    <div id="container" class="drop-container" ng-click="addEvent($event)" droppable>
        <div id="menu-container">
            <div plumb-menu-item class="menu-item" ng-repeat="module in library" ng-style="{ 'left':module.x, 'top':module.y }"
                 data-identifier="{{module.library_id}}" draggable>
                <div class="summary">{{module.title}}</div>
            </div>
        </div>
        <img src="../images/pedale.png" alt="Raspberry PI device" width="250" height="250" align="left">
        <div class="verticalLine"></div>
        <img src="../images/pedale.png" alt="Raspberry PI device" width="250" height="250" align="left">
        <div class="verticalLine"></div>
        <img src="../images/pedale.png" alt="Android Nexus device" width="250" height="250" align="left">
        <div plumb-item class="item" ng-repeat="module in schema" ng-style="{ 'left':module.x, 'top':module.y }"
             data-identifier="{{module.schema_id}}">
            <div class="title">{{module.title}}</div>
            {{module.description}}
            <div plumb-connect class="connect"></div>
        </div>
    </div>

    <p>
        <button type="button" class="btn btn-primary" ng-click="redraw()">Redraw</button>
    </p>

    <!--  does not render what comes behind it, so it's probably wrong -->
    <div post-render></div>

    <span ng-init="init()"></span>
</div>
