

<hr>
PLAYER CONTROLS
<!-- Machine controllers -->
<button id ="load" ng-click="machine.loadSound();">Charger son via XhR2</button>
<button id="play" ng-click="machine.playSound();" disabled>Lecture du son</button>
<button id="stop" ng-click="machine.stopSound();" disabled>Stopper le son</button>

<!-- Filters -->
<hr>
<h3>FILTER BANK</h3>
<button id="addGainFilter" ng-click="machine.addFilter('gain');">Add Gain Filter</button>
<button id="addLowPassFilter" ng-click="machine.addFilter('biquad');">Add BiQuad</button>
<button id="addDebugFilter" ng-click="machine.addFilter('lowl');">Add... something else</button>

<hr>
<h3>THE Filters</h3>
<hr width="40%" align="left">
<!-- For AUDIO GAIN filters only -->
<div ng-repeat="filter in machine.filters">

    <h4>Filtre : {{filter.type}}</h4>

    <button id="removeFilter" ng-click="machine.removeFilter(filter);">Remove Filter</button>

    <!-- Showing the div corresponding to the right filter -->
    <!--- All min max and default values of ranges corresponds to the min/max/default values of the web audio API

    <!-- The GAIN filter -->
    <div ng-show="filter.type === 'gain' ">
        <input id="volume" type="range" min="0" max="60" value="1" step="1" ng-model="filter.obj.gain.value">
        {{filter.obj.gain.value}}dB
    </div>

    <!-- The BIQUAD filter -->
    <div ng-show="filter.type === 'biquad' ">


        <!-- TODO ajouter le type (lowpass highpass etc)-->

        Type {{filter.obj.type}}
        <form>
            <input type="radio" name="biquadType" value="lowpass" ng-model="filter.obj.type" checked>LowPass
            <input type="radio" name="biquadType" value="highpass" ng-model="filter.obj.type" >HighPass
            <input type="radio" name="biquadType" value="bandpass" ng-model="filter.obj.type">BandPass

        </form>

        <!-- TODO limites de frequences de cuttof dependent de l'echantillonnage..-->
        Cuttof {{filter.obj.frequency.value}}
        <br>
        <input id="cuttofFreq" type="range" min="0" max="40000" value="350" step="10" ng-model="filter.obj.frequency.value">
        <br>

        Quality {{filter.obj.Q.value}}
        <br>
        <!-- Max theorique : 1000, mais deja a 100 c'est pas mal -->
        <input id="quality" type="range" min="0.0001" max="100" value="1" step="1" ng-model="filter.obj.Q.value">
        <br>


        <!-- TODO : un petit truc joli qui affiche le frequency response -->
    </div>

    <!-- debug -->
    <div ng-show="filter.type === 'debug' ">
    </div>

    <!-- separator -->
    <hr width="40%" align="left">
</div>
