<section>
    <h1>Welcome to FXMachine</h1>

    <div class="container">
        <div class="list-group">
            <div class="row">
                <div class="imgMember col-lg-4">
                    Here the image
                </div>
                <div class="description col-lg-8">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">THE TEXT THE TEXT</p>
                    </a>
                </div>
            </div>

            <div class="row">
                <div class="imgMember col-lg-4">
                    Here the image
                </div>
                <div class="description col-lg-8">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">...</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="imgMember col-lg-4">
                    Here the image
                </div>
                <div class="description col-lg-8">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">...</p>
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="imgMember col-lg-4">
                    Here the image
                </div>
                <div class="description col-lg-8">
                    <a href="#" class="list-group-item active">
                        <h4 class="list-group-item-heading">List group item heading</h4>

                        <p class="list-group-item-text">...</p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>