<section class="container-fluid pedalContainer">
    <br/>
    <h2 class="title-pedal">Create your pedal</h2>

    <!--<button class="btn btn-secondary" id="buttonSideBar" ng-click="pedal.sidebar = !pedal.sidebar">MENU</button>-->

    <i class="fa fa-arrow-right" id="buttonSideBar" ng-hide="pedal.iconmenu" ng-click="pedal.updateMenu()"></i>

    <i class="fa fa-arrow-right fa-rotate-90" ng-show="pedal.iconmenu" id="buttonSideBar2"
       ng-click="pedal.updateMenu()"></i>

    <div id="side-bar" class="col-lg-2 col-md-3 animated" ng-show="pedal.sidebar">
        <ul>
            <li>
                <button class="btn btn-secondary-outline" id="addGainFilter" ng-click="pedal.pedal.addFilter('gain');">
                    Add Gain Filter
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addEqualizerFilter"
                        ng-click="pedal.pedal.addFilter('biquad');">Add BiQuad
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addwaveshaperFilter"
                        ng-click="pedal.pedal.addFilter('waveShaper');">Add waveShaper
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addDelayFilter"
                        ng-click="pedal.pedal.addFilter('delay');">Add delay
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="visualiserFilter"
                        ng-click="pedal.pedal.addFilter('visualiser');">Add egaliser visu
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addDynamiccompressorFilter"
                        ng-click="pedal.pedal.addFilter('dynamicCompressor');">
                    Add Dyn Compressor
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addSStereopannerFilter"
                        ng-click="pedal.pedal.addFilter('stereoPanner');">
                    Add Stereo Panner
                </button>
            </li>
        </ul>
    </div>

    <div id="containerPlumb" class="col-xs-12">
        <div id="globalPlumb">
            <div class="container-fluid divPlumb filter-container" draggable ng-repeat="filter in pedal.pedal.filters">

                <div class="row">
                    <span class="connectable" connectable uuid="{{filter.uuid}}"></span>

                    <h5>{{filter.type.toUpperCase()}}</h5>

                    <span class="connector" connector filter="filter"></span>

                    <span type="button" id="removeFilter" class="btn-close"
                          ng-hide="filter.type==='node'"
                          ng-click="pedal.pedal.removeFilter(filter);" disconnect>
                        <i class="fa fa-times"></i>
                    </span>
                </div>

                <filter-details filter="filter"></filter-details>

            </div>

        </div>
    </div>
</section>