<!-- The main web audio player -->
<main-web-audio webaudio="pedal.webaudio"></main-web-audio>

<section class="container-fluid pedalContainer">
    <br/>


    <h2 class="title-pedal">Create your pedal</h2>

    <!--<button class="btn btn-secondary" id="buttonSideBar" ng-click="pedal.sidebar = !pedal.sidebar">MENU</button>-->

    <div>
        <button class="btn btn-info" id="loadpedaltoaudiograph" ng-click="pedal.loadPedalToWebAudio();">
            <i class="fa fa-upload"></i>
            Load Pedal to webAudio Graph
        </button>

        <button class="btn btn-info" ng-click="pedal.save()">
            <i class="fa fa-floppy-o"></i>
            Save Pedal
        </button>
    </div>
    <br>

    <i class="fa fa-arrow-right" id="buttonSideBar" ng-hide="pedal.iconmenu" ng-click="pedal.updateMenu()"></i>

    <i class="fa fa-arrow-right fa-rotate-90" ng-show="pedal.iconmenu" id="buttonSideBar2"
       ng-click="pedal.updateMenu()"></i>

    <div id="side-bar" class="col-lg-2 col-md-3 animated" ng-show="pedal.sidebar">
        <ul>
            <li>
                <button class="btn btn-secondary-outline" id="addGainFilter" ng-click="pedal.pedal.addFilter('gain');">
                    Add Gain Filter
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addEqualizerFilter"
                        ng-click="pedal.pedal.addFilter('biquad');">Add BiQuad
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addwaveshaperFilter"
                        ng-click="pedal.pedal.addFilter('waveShaper');">Add waveShaper
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addDelayFilter"
                        ng-click="pedal.pedal.addFilter('delay');">Add delay
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="visualiserFilter"
                        ng-click="pedal.pedal.addFilter('visualiser');">Add egaliser visu
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addDynamiccompressorFilter"
                        ng-click="pedal.pedal.addFilter('dynamicCompressor');">
                    Add Dyn Compressor
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addSStereopannerFilter"
                        ng-click="pedal.pedal.addFilter('stereoPanner');">
                    Add Stereo Panner
                </button>
            </li>
        </ul>
    </div>

    <div id="containerPlumb" class="col-xs-12">
        <div id="globalPlumb">


            <!-- the INPUT and OUTPUT of the pedal. particular cases, they need to be connected. -->
            <!--<div id="input" connector filter="pedal.input" style="width:30px">
                in
            </div>
           <div id="output" connectable uuid="pedal.output.uuid" style="width:30px">
               OUTPUT
            </div>
-->

            <!-- ALl our beloved filters -->
            <div class="container-fluid divPlumb filter-container" draggable
                 ng-repeat="filter in pedal.getAllFilters()">

                <div class="row">
                    <span class="connectable" connectable uuid="{{filter.uuid}}" ng-if="filter.type != 'input'">
                        <i class="fa fa-share-alt"></i>
                    </span>

                    <h5>{{filter.type.toUpperCase()}}</h5>

                    <span class="connector" connector filter="filter" ng-if="filter.type != 'output'">
                        <i class="fa fa-plug"></i>
                    </span>

                    <span ng-if="filter.type != 'input' && filter.type != 'output'" type="button" id="removeFilter"
                          class="btn-close"
                          ng-hide="filter.type==='node'"
                          ng-click="pedal.pedal.removeFilter(filter);" disconnect>
                        <i class="fa fa-times"></i>
                    </span>
                </div>

                <filter-details filter="filter"></filter-details>

            </div>

        </div>
    </div>
</section>