<section class="container-fluid pedalContainer">
    <br/>
    <h2 class="title-pedal">Create your pedal</h2>

    <!--<button class="btn btn-secondary" id="buttonSideBar" ng-click="pedal.sidebar = !pedal.sidebar">MENU</button>-->

    <i class="fa fa-arrow-right" id="buttonSideBar" ng-hide="pedal.iconmenu" ng-click="pedal.updateMenu()" ></i>

    <i class="fa fa-arrow-right fa-rotate-90" ng-show="pedal.iconmenu" id="buttonSideBar2" ng-click="pedal.updateMenu()" ></i>

    <div id="side-bar" class="col-lg-2 col-md-3 animated" ng-show="pedal.sidebar">
        <ul>
            <li>
                <button class="btn btn-secondary-outline" id="addGainFilter" ng-click="pedal.pedal.addFilter('gain');">Add Gain Filter</button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addEqualizerFilter" ng-click="pedal.pedal.addFilter('biquad');">Add BiQuad</button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addwaveshaperFilter" ng-click="pedal.pedal.addFilter('waveShaper');">Add waveShaper</button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addDelayFilter" ng-click="pedal.pedal.addFilter('delay');">Add delay</button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="visualiserFilter" ng-click="pedal.pedal.addFilter('visualiser');">Add egaliser visu</button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addDynamiccompressorFilter" ng-click="pedal.pedal.addFilter('dynamicCompressor');">
                    Add Dyn Compressor
                </button>
            </li>
            <li>
                <button class="btn btn-secondary-outline" id="addSStereopannerFilter" ng-click="pedal.pedal.addFilter('stereoPanner');">
                    Add Stereo Panner
                </button>
            </li>
        </ul>
    </div>

    <div id="containerPlumb" class="col-xs-12">
        <div id="globalPlumb">
            <div class="container-fluid divPlumb filter-container" draggable ng-repeat="filter in pedal.pedal.filters">

                <div class="row">
                    <span class="connector" connectable> In</span>

                    <span class="connectable" connector filter="filter"> out</span>

                    <span type="button" id="removeFilter" class="btn-close"
                          ng-hide="filter.type==='node'"
                          ng-click="pedal.pedal.removeFilter(filter);">
                        <i class="fa fa-times"></i>
                    </span>

                    <h5 class="col-xs-12">{{filter.type.toUpperCase()}}</h5>
                </div>

                <div class="row">

                    <!-- MEEEEEEEEEEEEEEEEEERGEEEEEEEEEEEEEEEEEEEE TO DO
                                            <h5 class="col-lg-4">{{filter.type.toUpperCase()}}</h5>
                                            <button id="removeFilter" class="btn btn-danger btn-sm" ng-hide="filter.type==='node'"
                                                    ng-click="pedal.pedal.removeFilter(filter);">Remove
                                                Filter
                                            </button>

                                            <!-- <p>  <span class="glyphicon glyphicon-remove"></span></p>
                                               <!-- glyphicon glyphicon-remove

                                               <img src="../images/cross.png" class="img-responsive">--->

                    <!--<div class="connector col-lg-3" connector> out</div>-
                </div>
                <hr>
                <div class="row">
                    <div class="connector col-lg-3" connectable uuid="{{filter.uuid}}"> in</div>
                    -->


                    <!-- The filter container -->
                    <div class="filter-basic col-lg-8">

                        <!-- Showing the div corresponding to the right filter -->
                        <!--- All min max and default values of ranges corresponds to the min/max/default values of the web audio API

                        <!-- The VIZU filter -->
                        <canvas egaliser-visualizer ng-if="filter.type === 'visualiser'"
                                analyser-node="filter.audioNode"
                                width="400"
                                height="100" id="whateverrr"
                                class="canvas-basic"></canvas>


                        <!-- The VIZU filter -->
                        <canvas signal-visualiser ng-if="filter.type === 'visualiser'"
                                analyser-node="filter.audioNode"
                                width="400" height="100" id="whanteverrr"
                                class="canvas-basic"></canvas>


                        <!-- The GAIN filter -->
                        <filter-gain class="filtergain" filter="filter" ng-if="filter.type === 'gain'"></filter-gain>
                        <!-- The BIQUAD filter -->
                        <filter-biquad filter="filter" ng-if="filter.type === 'biquad'"></filter-biquad>

                        <!-- The waveshaper filter -->
                        <filter-waveshaper filter="filter" ng-if="filter.type === 'waveShaper'"></filter-waveshaper>

                        <!-- The delay filter -->
                        <filter-delay filter="filter" ng-if="filter.type === 'delay'"></filter-delay>


                        <!-- The compressor filter -->
                        <filter-dynamiccompressor filter="filter"
                                                  ng-if="filter.type === 'dynamicCompressor'"></filter-dynamiccompressor>

                        <!-- The stereopanner filter -->
                        <filter-stereopanner filter="filter"
                                             ng-if="filter.type === 'stereoPanner'"></filter-stereopanner>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>