.headerWebSite{

    position:absolute;
    color: white;
    font-weight: 400;
    left:30%;
    z-index:3;
    text-shadow: 3px 3px #000000;
    top:40%;
    font-size:65px;
}
.imageContent{

}

body section{
    margin:0;
}