// bower:scss
@import "../../bower_components/bootstrap/scss/bootstrap.scss";
// endbower
@import "variables";

html, body, section {
  width: 100%;
  height: 100%;
}

body {
  background-color: $background-color;

  section {
    margin-top: 40px;
    text-align: center;
  }
}

.btn-close {
  font-size: 1.4em;
  position: absolute;
  right: -15px;
  top: -30px;
  color: white;

  &:hover i, &:active i {
    color: grey;
    cursor: pointer;
  }
}