@import "variables";

.title-pedal{
  color:#adadad;
}

#buttonSideBar{
  position:fixed;
  left:35px;
  top: 35%;
  z-index:3002;
  color:#adadad;
  font-size:3em;
}
#buttonSideBar2{
  position:fixed;
  left:35px;
  top: 35%;
  z-index:3002;
  color:#adadad;
  font-size:3em;
}

#buttonSideBar:hover, #buttonSideBar2:hover{
  color:white;
  cursor:pointer;
}

#side-bar {
  position: fixed;
  left: 0;
  top: 40%;

  z-index: 3001;
  bottom: 0;
  height:35%;
  background-color:transparent;
  text-align:left;

  ul {
    list-style: none;
  }

  #addGainFilter{
    margin-top:5%;
  }

  li{
    margin-top:5px;
  }

  .btn-secondary-outline:hover{
    color:black;
  }

  .btn-secondary-outline:focus{
    color:black;
  }

  /* when hiding the picture */
  &.ng-hide-add         { animation:0.5s zoomOut ease; }

  /* when showing the picture */
  &.ng-hide-remove      { animation:0.5s rollIn ease; }

}

.pedalContainer{
  background-color:#1f1f1f; //#141414;

  .btn-info{
    background-color:rgb(58,58,58);
    border-color:rgb(160,150,147);
  }

  .loadpedaltoaudiograph{
    position:center;
  }

  .btn-info:hover{
    background-color:rgb(58,58,58);
    border-color:rgb(160,150,147);
  }

  .fa-upload, .fa-floppy-o{
    margin-right:8px;
  }

}

#containerPlumb {
  position: relative;
  height: 100%;
  padding-left: 0;
  padding-right: 0;

  #globalPlumb {
    width: 100%;
    height: 800px;
    position: absolute;
    border: 1px solid gray;

    #input {
      position: absolute;
      left:0;
      bottom: 400px;
      background-color: white;
    }

    #output {
      position: absolute;
      right: 0;
      bottom: 400px;
      background-color: white;
    }


    .divPlumb {
      //background-color: $background-filter;

      background-color: rgb(123,130,136);
      border: 2px solid #686f73;
      border-radius: 6px;
      position: absolute;
      color:white;

      box-shadow : 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);

      > div {
        justify-content: space-between;

        .connector {
          background-color: indianred;
          border-radius: 5px;
          width: 33px;
          height: 33px;
          margin-left:5px;
          //margin-top:3px;
        }

        .connectable {
          background-color:#00A000;
          //background: url('../images/input-icon.png') no-repeat right #00A000;
          border-radius: 5px;
          width: 33px;
          height: 33px;
          margin-right:5px;
          //margin-top:4px;
        }

        .fa-share-alt{
          margin-top:5px;
          font-size:24px;
        }

        .fa-share-alt:hover{
          margin-top:3px;
          font-size:28px;
        }

        .fa-plug{
          margin-top:5px;
          font-size:21px;
        }

        .fa-plug:hover{
          margin-top:3px;
          font-size:25px;
        }

      }

      .filter-basic{
        height:100%;
      }

      #removeFilter{
        background:none;
        border:none;
        width:50px;

      }

      .filtergain{
        min-width:150px;
        left:40%;
      }

    }

  }
}