<div>
    Type {{filter.audioNode.type}}
    <form>
        <input type="radio" name="biquadType" value="lowpass" ng-model="filter.audioNode.type" checked>LowPass
        <input type="radio" name="biquadType" value="highpass" ng-model="filter.audioNode.type" >HighPass
        <input type="radio" name="biquadType" value="bandpass" ng-model="filter.audioNode.type">BandPass

    </form>

    <!-- TODO limites de frequences de cuttof dependent de l'echantillonnage..-->
    Cuttof {{filter.audioNode.frequency.value}}
    <br>
    <input id="cuttofFreq" type="range" min="0" max="40000" value="350" step="10" ng-model="filter.audioNode.frequency.value">
    <br>

    Quality {{filter.audioNode.Q.value}}
    <br>
    <!-- Max theorique : 1000, mais deja a 100 c'est pas mal -->
    <input id="quality" type="range" min="0.0001" max="100" value="1" step="1" ng-model="filter.audioNode.Q.value">
    <br>


    <!-- TODO : un petit truc joli qui affiche le frequency response -->
</div>