<div class="container-fluid main-web-audio">
    <div class="inputs-web-audio col-lg-4">
        <h5>INPUT</h5>

        <!-- Controle de l'input -->
        <!-- c'est ici qu'on gere le son d'entree, whatever happens. c'est totalement separe des filtres, pedales, et autres -->
        <input type="file" file-model="soundFile"/>
        <button id="load" ng-click="fxmachine.webaudio.loadSound(fxmachine.fileName)">Charger le son</button>
        <!-- Input Visualisation : waveform -->
        <canvas waveform-visualiser buffer="fxmachine.webaudio.soundBuffer" width="400" height="100" id="whatever"
                style="border-style: solid; border-width:thin;  border-color:lightslategray"></canvas>
    </div>
    <div class="status-web-audio col-lg-4">
        <h5>STATUS</h5>

        <div>webaudio Initialisation : {{fxmachine.webaudio.isInitialized}}</div>
        <div>webaudio Player status : {{fxmachine.webaudio.isPlaying}}</div>
        <div>webaudio Graph status : {{fxmachine.webaudio.isGraphReady}}</div>
    </div>
    <div class="controls-web-audio col-lg-4">
        <h5>CONTROLS</h5>
        <button id="cleangraph" ng-click="fxmachine.webaudio.cleanGraph();">Clean Audio Graph</button>
        <button id="loaddefaultgraph" ng-click="fxmachine.webaudio.loadDefaultGraph();">Load Default Audio Graph
        </button>
        <br>
        <button id="play" ng-click="fxmachine.webaudio.playSound();">Lecture</button>
        <button id="stop" ng-click="fxmachine.webaudio.stopSound();">Stop</button>
    </div>
    <div class="outputs-web-audio col-lg-4">
        <h5>OUTPUT</h5>

        <canvas volume-visualiser orientation="'vertical'" analyser-node="fxmachine.webaudio.analyser" width="10"
                height="20" id="whatever3"
                style="border-style: solid; border-width:thin;  border-color:lightslategray"></canvas>

        <canvas volume-visualiser orientation="'horizontal'" analyser-node="fxmachine.webaudio.analyser" width="100"
                height="10" id="dewhatever3"
                style="border-style: solid; border-width:thin;  border-color:lightslategray"></canvas>

        By default : SPEAKERS
    </div>
</div>