<div class="container-fluid main-web-audio">
    <div class=" inputs-web-audio  col-lg-3 web-audio-elem">

            <!-- Controle de l'input -->
            <!-- c'est ici qu'on gere le son d'entree, whatever happens. c'est totalement separe des filtres, pedales, et autres -->
            <input type="file" file-model="soundFile"/>
            <button id="load" class="btn btn-sm" ng-click="fxmachine.webaudio.loadsound(soundFile.name)">loadSound</button>


            <!-- Input Visualisation : waveform -->
            <canvas waveform-visualiser buffer="fxmachine.webaudio.soundBuffer" width="150" height="50" id="whatever"
                    class="canvas-basic"></canvas>




    </div>

    <div class="web-audio-elem status-web-audio  col-lg-1">
        <div ng-if="fxmachine.webaudio.isInitialized" class="valid-box">Init</div>
        <div ng-if="fxmachine.webaudio.isGraphReady" class="valid-box">Graph</div>
        <div ng-if="fxmachine.webaudio.isPlaying" class="valid-box">Playing</div>

        <div ng-if="!fxmachine.webaudio.isInitialized" class="invalid-box">Init</div>
        <div ng-if="!fxmachine.webaudio.isGraphReady" class="invalid-box">Graph</div>
        <div ng-if="!fxmachine.webaudio.isPlaying" class="invalid-box">Playing</div>
    </div>

    <div class="web-audio-elem controls-web-audio  col-lg-5">
        <button id="cleangraph" class="btn btn-default btn-sm" ng-click="fxmachine.webaudio.cleanGraph();">Clean Audio Graph</button>
        <button id="loaddefaultgraph" class="btn btn-default btn-sm" ng-click="fxmachine.webaudio.loadDefaultGraph();">Load Default Audio Graph
        </button>

        <br>
        <div class="">
            <button type="button" id="button_play" class="btn btn-sm" ng-click='fxmachine.webaudio.playSound();'>
                Play
            </button>
            <!-- TODO: un vrai bouton play/pause, ou ne seraitce que un pause. -->
            <button type="button" id="button_pause" class="btn btn-sm" ng-click='' disabled>
                Pause
            </button>

            <button type="button" id="button_stop" class="btn btn-sm" ng-click='fxmachine.webaudio.stopSound();'>
                Stop
            </button>
        </div>



    </div>

    <div class="web-audio-elem outputs-web-audio  col-lg-3">

        <div class="col-lg-4">
            By default : speakers
        </div>
        <div class="col-lg-8">

            <canvas volume-visualiser orientation="'horizontal'" analyser-node="fxmachine.webaudio.analyser" width="100"
                    height="30"
                    class="canvas-basic"></canvas>

            <canvas volume-visualiser orientation="'horizontal'" analyser-node="fxmachine.webaudio.analyser" width="100"
                    height="30"
                    class="canvas-basic"></canvas>
        </div>




    </div>
</div>