<div class="container-fluid main-web-audio">
    <div class="web-audio-elem inputs-web-audio  col-lg-3 ">

        <!-- Extremite: need un nomargin -->
        <div class="row quartheight fullwidthoparent nomargin">

            <!-- Controle de l'input -->
            <!-- c'est ici qu'on gere le son d'entree, whatever happens. c'est totalement separe des filtres, pedales, et autres -->
            <!-- TODO : est sur la classe bouton mais c'est pas vraiment un bouton -->
            <input class="webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent" type="file"
                   file-model="soundFile"/>

        </div>


        <div class="row halfheight fullwidthoparent nomargin">
            <div class="col-lg-4 nopadding">
                <button id="load"
                        class="btn btn-sm webaudio-control-btn webaudio-control-btn-secondary fullwidthoparent threequartsheight"
                        ng-click="fxmachine.webaudio.loadsound(soundFile.name)">loadSound
                </button>

            </div>
            <div class="col-lg-8 nopadding">

                <!-- Input Visualisation : waveform -->
                <canvas waveform-visualiser buffer="fxmachine.webaudio.soundBuffer"
                        class="canvas-basic fullwidthoparent threequartsheight"></canvas>
            </div>


        </div>

    </div>

    <div class="web-audio-elem status-web-audio  col-lg-1">
        <div ng-if="fxmachine.webaudio.isInitialized" class="statusbox valid-box thirdheight">Init</div>
        <div ng-if="fxmachine.webaudio.isGraphReady" class="statusbox valid-box thirdheight">Graph</div>
        <div ng-if="fxmachine.webaudio.isPlaying" class="statusbox valid-box thirdheight">Playing</div>

        <div ng-if="!fxmachine.webaudio.isInitialized" class="statusbox invalid-box thirdheight">Init</div>
        <div ng-if="!fxmachine.webaudio.isGraphReady" class="statusbox invalid-box thirdheight">Graph</div>
        <div ng-if="!fxmachine.webaudio.isPlaying" class="statusbox invalid-box thirdheight">Playing</div>
    </div>

    <div class="web-audio-elem controls-web-audio col-lg-4">


        <!-- some space idk what for yet -->
        <div class="row halfheight fullwidthoparent nomargin">

            <div class="col-lg-6 nopadding">
                <div class="emptyspace halfheight nopadding"></div>
                <!-- some empty space to use someday -->
            </div>

            <div class="col-lg-6 nopadding">
                <div class="emptyspace halfheight nopadding"></div>
                <!-- some empty space to use someday -->
            </div>
        </div>


        <div class="row halfheight nomargin">

            <div class="col-lg-6 nopadding">
                <button id="cleangraph"
                        class="btn btn-defaultwebaudio-control-btn  webaudio-control-btn-secondary quartheight smalltext nopadding fullwidthoparent"
                        ng-click="fxmachine.webaudio.cleanGraph();">Clean Audio Graph
                </button>

                <button id="loaddefaultgraph"
                        class="btn btn-default webaudio-control-btn webaudio-control-btn-secondary quartheight smalltext nopadding fullwidthoparent"
                        ng-click="fxmachine.webaudio.loadDefaultGraph();">Load Default Audio graph
                </button>
            </div>

            <!-- TODO : j'ai essaye de centrer les boutons et de les faire remplir toute la largeur, mais j'y arirve pas euh -->
            <!-- Player buttons -->
            <div class="col-lg-6 nopadding">

                <div class="col-lg-4 nopadding">


                    <button type="button" id="button_play"
                            class="webaudio-control-btn btn webaudio-control-btn-primary nopadding fullwidthoparent halfheight"
                            ng-click='fxmachine.webaudio.playSound();'>
                        Play
                    </button>


                </div>

                <div class="col-lg-4 nopadding">
                    <!-- TODO: un vrai bouton play/pause, ou ne seraitce que un pause. -->
                    <button type="button" id="button_pause"
                            class="webaudio-control-btn btn webaudio-control-btn-primary nopadding fullwidthoparent halfheight"
                            ng-click=''
                            disabled>
                        Pause
                    </button>
                </div>

                <div class="col-lg-4 nopadding">
                    <button type="button" id="button_stop"
                            class="webaudio-control-btn btn webaudio-control-btn-primary nopadding fullwidthoparent halfheight"
                            ng-click='fxmachine.webaudio.stopSound();'>
                        Stop
                    </button>

                </div>
            </div>


        </div>


    </div>

    <div class="web-audio-elem outputs-web-audio  col-lg-4">
        <!-- Extremite: need un nomargin -->
        <div class="col-lg-4 nopadding">
            <!--By default : speakers-->
            <canvas signal-visualiser analyser-node="fxmachine.webaudio.analyser"

                    class="canvas-basic fullheight fullwidthoparent nopadding"></canvas>

        </div>
        <div class="col-lg-7 nopadding">

            <div class="row quartheight nomargin">
                <canvas volume-visualiser orientation="'horizontal'" analyser-node="fxmachine.webaudio.analyser"
                        class="canvas-basic quartheight fullwidthoparent"></canvas>
            </div>

            <div class="row quartheight nomargin">
                <canvas volume-visualiser orientation="'horizontal'" analyser-node="fxmachine.webaudio.analyser"
                        class="canvas-basic quartheight fullwidthoparent"></canvas>
            </div>

            <div class="row halfheight nomargin">
                <canvas egaliser-visualizer analyser-node="fxmachine.webaudio.analyser"

                        class="canvas-basic halfheight fullwidthoparent"></canvas>

            </div>


        </div>

        <div class="col-lg-1 nopadding">

            <canvas volume-visualiser orientation="'vertical'" analyser-node="fxmachine.webaudio.analyser"
                    class="canvas-basic fullheight fullwidthoparent"></canvas>

        </div>


    </div>
</div>