
<div class="container">
    <div class="row">
        <div class="card col-lg-3"  ng-repeat="member in membersList.memberList">
            <img class="card-img-top" data-src="..." alt="Card image cap">

            <div class="card-block">
                <h4 class="card-title">{{member.name}}</h4>

                <p class="card-text">{{member.description}}</p>
            </div>
            <div class="card-block">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>

</div>