<div class="filterGainTmpl">

    <div class="container">
        <button class="valueStereo valueGainLeft" ng-click="$ctrl.reduceValue()"
                ng-model="$ctrl.filter.audioNode.gain.value">
            L <i class="fa fa-arrow-circle-left"></i>
        </button>
        <button class="valueStereo valueGainRight" ng-click="$ctrl.increaseValue()"
                ng-model="$ctrl.filter.audioNode.gain.value">
            <i class="fa fa-arrow-circle-right"></i> R
        </button>
    </div>

    <div class="rangeContent">
        <input id="volume" type="range" min="0" max="101" value="1" step="1"
               ng-model="$ctrl.filter.audioNode.gain.value">
    </div>
    <div class="valueContentSmall">
        <div ng-show="$ctrl.filter.audioNode.gain.value >= 1"> +{{$ctrl.filter.audioNode.gain.value-1}} dB'</div>
        <div ng-show="$ctrl.filter.audioNode.gain.value == 0"> Son coupé</div>
    </div>
</div>